body {
    margin: 0;
    padding: 0;
    height: 3000px;
    background-color: lightblue;

}


a {
    text-decoration: none;
    color:#eeeeee;
}


/* HEADER */
.navbar {
    position: fixed;
    width: 100%;
    height: 72px;
    background:#ffffff00;
    display: flex;  
    align-items: center;
    padding-left: 50px;
    z-index: 1;
}

.menu_left{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 36px;
    padding-right: 825px;
    
}


.menu_right {
    display: flex;
    align-items: center;
    list-style-type: none;
    color:#eeeeee;
    cursor: pointer;
    
}

.navbar li{
    font-family: noto sans kr;
    font-size: 14px;
    flex-shrink: 0;
}

.menu_left li {
    padding: 0 12px;
}


.home {
    font-weight: bold;
}

.search_box{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.search_button {
    position: relative;
    padding-top: 4px;
    padding-right: 9px;
}

.profile_box {
    display: flex;
    align-items: center;
    padding: 0 20px;
    
}

.profile_image {
border-radius: 50%;
height: 25px;
width: 25px;
padding-top: 3px;
padding-right: 4px;
}

.profile {
    padding-right: 6px;
}


/* 메인 */


main {
    height: 100vh;
    position: relative;
    flex-direction: row;
}

main .wrapper {
    justify-content: center;
    top: calc((40vh - 120px)/2 + 120px);
}

/* MAIN SLIDER */

main .wrapper #slider {
    width: 100%;
    height: 100vh;
    position: relative;
}

main .wrapper #slider .slide {
    overflow: hidden;
}

main .wrapper #slider .slide1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
     to left,
    rgba(20, 20, 20, 0.1) 50%,
    rgba(20, 20, 20, 0.3) 75%,
    rgba(20, 20, 20, 0.75) 100%
    ), url("../images/bg_img.jpg");
        background-size: cover;
      }

 main .wrapper #slider .slide_title {
        padding-top: 240px;
        padding-left: 50px;
        font-family: noto sans kr;
        font-weight: 800;
        font-size: 60px;
        color: white;
        letter-spacing: -3px;
    }

 main .wrapper #slider .slide_title_down {
        padding-top: 25px;
        padding-left: 50px;
        font-family: noto sans kr;
        font-size: 20px;
        color: white;
    }
    
input.button_1{
        background-image: url(/images/list.png);
        background-repeat: no-repeat;
        background-position: 13px;
        background-size: 22px;
        background-color: #ffffff0c;
        padding: 10px 15px 15px 15px;
        border: none;
        cursor: pointer;
        height: 50px;
        width: 135px;
        margin-left: 50px;
        margin-top: 35px;
        font-family: noto sans kr;
        font-size: 19px;
        text-align: right;
        color: white;
    }
    
input.button_1:hover{
        background-image: url(/images/list_black.png);
        background-repeat: no-repeat;
        background-position: 13px;
        background-size: 22px;
        background-color: white;
        padding: 10px 15px 15px 15px;
        height: 50px;
        width: 135px;
        margin-left: 50px;
        margin-top: 35px;
        font-family: noto sans kr;
        font-size: 19px;
        text-align: right;
        color: black;
    
    }


main .wrapper #slider .slide2 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to left,
       rgba(20, 20, 20, 0.1) 50%,
       rgba(20, 20, 20, 0.3) 75%,
       rgba(20, 20, 20, 0.75) 100%
    ), url("../images/mudo.jpg");
    background-size: cover;    
}

main .wrapper #slider .slide3 {
    background-image: url(../images/slides/slide03.jpeg);
}

main .wrapper #slider .slide4 {
    background-image: url(../images/slides/slide04.jpeg);
}

main .wrapper #slider .slide5 {
    background-image: url(../images/slides/slide05.jpeg);
    
}

main .wrapper #slider .slide6 {
    background-image: url(../images/slides/slide06.jpeg);
}

main .wrapper #slider .slide__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .wrapper #slider .slide__content span {
    font-size: 80px;
    color: #F6F5F0;
}

/* SLIDER ARROW */

main .wrapper #slider .material-icons {
    justify-content: center;
    position: absolute;
    top: 28%;
    margin-top: 30px;
    
}

main .wrapper #slider .arrow--left {
    left: 0;
    padding: 100px 15px;
   
   
}

main .wrapper #slider .arrow--right {
    right: 0px;
    padding: 100px 15px;
}
/* SLIDER DOTS */

main .wrapper #slider .dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 150px auto;
    padding-right: 70px;
    display: flex;
    justify-content: flex-end;
}

main .wrapper #slider .dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff62;
    margin: 0 6px;
    cursor: pointer;
    
}

main .wrapper #slider .dots .dot1 {
    background: #ffffff;
}
