/* COMMON */

body {
    margin: 0;
    padding: 0;
    height: 3000px;
}

.material-icons {
    color: rgb(240, 240, 240);
    font-size: 19px;
    cursor: pointer;
    
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    height: 72px;
    background: #ffffff00;
    padding-left: 50px;
    display: flex;
    align-items: center;
}


.watcha_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    display: block;
    font-size: 14px;
    margin-left: 23px;
    font-family: Noto Sans KR;
}

.watcha_logo {
    cursor: pointer;
}


.home {
    font-family: Noto Sans KR;
    font-weight: 700;
    padding-left: 24px;
}

header .material-icons#btn--search {
    display: flex;
    padding-left: 850px;
    width: 3px;
}



