body {
    margin: 0;
    padding: 0;
    height: 1500px;
    background-color: rgb(0, 0, 0);

}


/* HEADER */
.navbar {
    position: fixed;
    width: 100%;
    height: 72px;
    background:#ffffff00;
    display: flex;  
    align-items: center;
    padding-left: 50px;
    z-index: 1;
    font-family: noto sans kr;
    font-size: 14px;
    color:#eeeeee;
}


.menu_left{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 36px;
    padding-right: 820px;
    cursor: pointer;
    flex-shrink: 0;
    
}


.menu_right {
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    flex-shrink: 0;
    
}


.menu_left li {
    padding: 0 14px;
}

.menu_right li {
    padding: 0 3px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color:#eeeeee;
}


.search_box{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.search_button {
    position: relative;
    padding-top: 4px;
    padding-right: 5px;
}

.profile_box {
    display: flex;
    align-items: center;
    padding: 0 20px;
    
}

.profile_image {
border-radius: 50%;
height: 25px;
width: 25px;
padding-top: 3px;
padding-right: 4px;
}

.profile {
    padding-right: 6px;
}


/* 메인 */


main {
    height: 100vh;
    position: relative;
    flex-direction: row;
}

main .wrapper {
    justify-content: center;
    top: calc((40vh - 120px)/2 + 120px);
}

/* MAIN SLIDER */

main .wrapper #slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

main .wrapper #slider .slide1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
     to left,
    rgba(20, 20, 20, 0.1) 50%,
    rgba(20, 20, 20, 0.3) 75%,
    rgba(20, 20, 20, 0.75) 100%
    ), url("../images/bg_img.jpg");
        background-size: cover;
      }

 main .wrapper #slider .slide_title {
        padding-top: 240px;
        padding-left: 50px;
        font-family: noto sans kr;
        font-weight: 800;
        font-size: 60px;
        color: white;
        letter-spacing: -3px;
    }

 main .wrapper #slider .slide_title_down {
        padding-top: 25px;
        padding-left: 50px;
        font-family: noto sans kr;
        font-size: 20px;
        color: white;
    }
    
input.button_1{
        background-image: url(/images/list.png);
        background-repeat: no-repeat;
        background-position: 13px;
        background-size: 22px;
        background-color: #ffffff0c;
        padding: 10px 15px 15px 15px;
        border: none;
        cursor: pointer;
        height: 50px;
        width: 135px;
        margin-left: 50px;
        margin-top: 35px;
        font-family: noto sans kr;
        font-size: 19px;
        text-align: right;
        color: white;
    }
    
input.button_1:hover{
        background-image: url(/images/list_black.png);
        background-repeat: no-repeat;
        background-position: 13px;
        background-size: 22px;
        background-color: white;
        padding: 10px 15px 15px 15px;
        height: 50px;
        width: 135px;
        margin-left: 50px;
        margin-top: 35px;
        font-family: noto sans kr;
        font-size: 19px;
        text-align: right;
        color: black;
    
    }


main .wrapper #slider .slide2 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to left,
       rgba(20, 20, 20, 0.1) 50%,
       rgba(20, 20, 20, 0.3) 75%,
       rgba(20, 20, 20, 0.75) 100%
    ), url("../images/mudo.jpg");
    background-size: cover;    
}

main .wrapper #slider .slide3 {
    background-image: url(../images/slides/slide03.jpeg);
}

main .wrapper #slider .slide4 {
    background-image: url(../images/slides/slide04.jpeg);
}

main .wrapper #slider .slide5 {
    background-image: url(../images/slides/slide05.jpeg);
    
}

main .wrapper #slider .slide6 {
    background-image: url(../images/slides/slide06.jpeg);
}

main .wrapper #slider .slide__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .wrapper #slider .slide__content span {
    font-size: 80px;
    color: #F6F5F0;
}

/* SLIDER ARROW */

main .wrapper #slider .material-icons {
    justify-content: center;
    position: absolute;
    top: 28%;
    margin-top: 30px;
    
}

main .wrapper #slider .arrow--left {
    left: 0;
    padding: 100px 15px;
    opacity: 0.5;
   
   
}

main .wrapper #slider .arrow--right {
    right: 0px;
    padding: 100px 15px;
    opacity: 0.5;
}

main .wrapper #slider .arrow--left:hover {
    opacity: 1;
}

main .wrapper #slider .arrow--right:hover {
    opacity: 1;
}
/* SLIDER DOTS */

main .wrapper #slider .dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 150px auto;
    padding-right: 70px;
    display: flex;
    justify-content: flex-end;
}

main .wrapper #slider .dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff62;
    margin: 0 6px;
    cursor: pointer;
    
}

main .wrapper #slider .dots .dot1 {
    background: #ffffff;
}

/* section */

.container_title {
    position: relative;
    bottom: 120px;
    height: 50px;
    padding-left: 43px;
    background: rgba(255, 255, 255, 0);
    font-family: noto sans kr;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.watching_all {
    position: relative;
    bottom: 165px;
    padding-left: 1390px;
    font-family: noto sans kr;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.7;
    cursor: pointer;
}

.watching_all:hover {
    color: white;
    opacity: 1;
}

.gradation {
    position: relative;
    bottom: 165px;
    background: linear-gradient(to top, #00000000, #000000 40%, transparent);
    height: 200px;
}


.box {
    position: relative;
    bottom: 350px;
    padding-left: 40px;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    }
  
  .box a {
    transition: transform .3s; 
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .title_text {
    position: absolute;
    display: flex;
    color: white;
    font-family: noto sans kr;
    font-size: 15px;
    padding-left: 40px;
}

.title_text>div {
position: relative;
top: 150px;
padding-right: 196px;
flex-shrink: 0;
}

.container_title_next {
    position: relative;
    bottom: 320px;
    height: 50px;
    padding-left: 43px;
    padding-top: 50px;
    font-family: noto sans kr;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.watching_all_next {
    position: relative;
    bottom: 365px;
    padding-left: 1390px;
    font-family: noto sans kr;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.7;
    cursor: pointer;
}

.watching_all_next:hover {
    color: white;
    opacity: 1;
}
.title_text_next{
    position: absolute;
    display: flex;
    color: white;
    font-family: noto sans kr;
    font-size: 15px;
    padding-left: 40px;
}

.title_text_next>div {
    position: relative;
    display: inline-block;
    top: 150px;
    flex-shrink: 0;
    }

.movie_title_1 {
    padding-left: 210px;
}

.movie_title_2 {
    padding-left: 135px;
}

.movie_title_3 {
    padding-left: 167px;
}

.movie_title_4 {
    padding-left: 190px;
}

.movie_title_5 {
    padding-left: 230px;
}

.movie_title_6 {
    padding-left: 215px;
}

.movie_title_7 {
    padding-left: 145px;
}

.movie_title_8 {
    padding-left: 167px;
}

.movie_title_9 {
    padding-left: 167px;
}

.movie_title_10 {
    padding-left: 190px;
}

.movie_title_11 {
    padding-left: 220px;
}

.movie_title_12 {
    padding-left: 170px;
}

.movie_title_13 {
    padding-left: 120px;
}

.movie_title_14 {
    padding-left: 185px;
}


.movie_title_15 {
    padding-left: 200px;
}

.movie_title_16 {
    padding-left: 230px;
}

.movie_title_17 {
    padding-left: 140px;
}

.movie_title_18 {
    padding-left: 185px;
}

.movie_title_19 {
    padding-left: 215px;
}

.movie_title_20 {
    padding-left: 170px;
}

